/* CSS Document */
@import url(reset.css);
@import url(ekko-lightbox.min.css);
/* SET COLORS AND OTHER VAR ------------------------------------------------- */
/* GENERAL SETTINGS ---------------------------------------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

body, html {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: "Encode Sans", sans-serif; }

p {
  margin: 20px 0;
  line-height: 24px; }

/* buttons ---------------------------------------------------- */
.btn {
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .btn--red {
    color: white;
    background: #e01f4c; }
    .btn--red:hover {
      background: #b51339; }
    .btn--red:focus {
      color: white;
      border: 0; }
  .btn--white {
    color: white;
    border: 1px solid white; }
    .btn--white:hover {
      color: white;
      background: #b51339;
      border: 1px solid #b51339; }
  .btn--blue {
    color: white;
    border: 1px solid white; }
    .btn--blue:hover {
      color: white;
      background: #077e84;
      border: 1px solid #077e84; }
  .btn--green {
    color: white;
    border: 1px solid white; }
    .btn--green:hover {
      color: white;
      background: #618e18;
      border: 1px solid #618e18; }

/* SECTION - INTRO ---------------------------------------------------- */
.intro {
  color: white;
  height: 100%;
  position: relative; }
  .intro__overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99; }

#video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-attachment: fixed; }

/* headline title ---------------------------------------------------- */
.headline__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header {
  padding-top: 50px; }
  .header__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.headline__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 0 auto;
  width: 90%;
  height: 90%;
  text-align: center; }
  .headline__wrapper .headline {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase; }
  .headline__wrapper .text {
    font-size: 20px; }

/* media queries ---------------------------------------------------- */
@media screen and (max-width: 500px) {
  #video-background {
    display: none; }
  .headline__wrapper {
    height: 70%; }
    .headline__wrapper .headline {
      font-size: 50px; }
  .intro {
    background: url("../img/bg01.jpg") fixed; } }

/* SERVICES ---------------------------------------------------- */
.services {
  margin: 0 auto;
  padding: 100px 0; }
  .services__item {
    text-align: center;
    margin-bottom: 30px; }
    .services__item__h1 {
      font-size: 18px;
      font-weight: 700;
      margin-top: 10px; }

/* VIDEO SECTION ------------------------------------------------ */
.explore {
  padding: 100px 20px;
  background-size: cover;
  background: url("../img/oceans2.jpg") center fixed;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .explore__video {
    width: 60%;
    max-width: 853px;
    margin: 0 auto; }
    .explore__video__wrapper {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden; }
      .explore__video__wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .explore__wrapper {
    max-width: 1170px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .explore__content {
    width: 50%;
    padding-right: 20px; }
    .explore__content__h2 {
      text-transform: uppercase;
      font-size: 19px; }
      .explore__content__h2 strong {
        font-size: 22px;
        font-weight: 700; }
    .explore__content__h1 {
      font-size: 48px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 20px 0; }
    .explore__content__p {
      line-height: 24px;
      margin-bottom: 20px; }

/* media queries ------------------------------------------------ */
@media screen and (max-width: 750px) {
  .explore {
    height: auto; }
    .explore__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .explore__content {
      width: 100%; }
      .explore__content__h2 {
        text-transform: uppercase;
        font-size: 19px; }
        .explore__content__h2 strong {
          font-size: 22px;
          font-weight: 700; }
      .explore__content__h1 {
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 20px 0; }
      .explore__content__p {
        line-height: 24px; }
    .explore__img {
      width: 100%;
      position: relative;
      margin-top: 50px; } }

/* GALLERY ---------------------------------------------------- */
.gallery {
  position: relative;
  text-align: center; }
  .gallery__wrapper {
    overflow-x: hidden; }
  .gallery__item {
    position: relative;
    overflow: hidden;
    text-align: center;
    background: #e01f4c; }
    .gallery__item img {
      position: relative;
      display: block;
      min-height: auto;
      max-width: 100%;
      opacity: 0.9;
      -webkit-transition: opacity 0.35s;
      transition: opacity 0.35s; }
  .gallery__text {
    padding-top: 25%;
    color: white;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .gallery__text::before {
      position: absolute;
      top: 30px;
      right: 30px;
      bottom: 30px;
      left: 30px;
      border: 1px solid white;
      content: ''; }
  .gallery__h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }

.gallery__text,
.gallery__text > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.gallery__text > a {
  opacity: 0; }

.gallery__text::before,
.gallery__h2 {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0); }

.gallery__item.gallery__item:hover .gallery__h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.gallery__item.gallery__item:hover .gallery__text::before,
.gallery__item.gallery__item:hover .gallery__h2 {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.gallery__item.gallery__item:hover .gallery__text {
  background-color: rgba(58, 52, 42, 0); }

.gallery__item.gallery__item:hover img {
  opacity: 0.4; }

/* BLOG ---------------------------------------------------- */
.blog__item {
  padding: 50px;
  color: white; }
  .blog__item--green {
    background: #74a81f; }
  .blog__item--blue {
    background: #0aa5ad; }
  .blog__item--red {
    background: #e01f4c; }
  .blog__item__h1 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px; }
  .blog__item__p {
    margin-bottom: 40px; }

.full-article {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 100px 20px;
  background: #74a81f;
  overflow: scroll;
  z-index: 98; }
  .full-article.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .full-article.de-active {
    display: none; }

.article {
  position: relative;
  max-width: 1000px;
  margin: 0 auto; }
  .article-h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px; }
  .article-perex {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px; }
  .article-p {
    font-size: 16px;
    line-height: 25px; }
  .article-delete {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 22px;
    color: #e5e5e5;
    z-index: 99; }
    .article-delete:hover {
      color: #e5e5e5; }

/* PREFOOTER ---------------------------------------------------- */
.prefooter {
  background: #e5e5e5;
  padding: 100px 50px 50px 50px;
  color: #e01f4c; }
  .prefooter__item {
    margin-bottom: 50px; }
  .prefooter__h1 {
    font-size: 20px;
    font-weight: 700; }
  .prefooter__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 50px; }
  .prefooter__email, .prefooter__message {
    padding: 20px 20px 0 5px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #e01f4c;
    margin-bottom: 20px;
    width: 100%; }
    .prefooter__email:focus, .prefooter__message:focus {
      outline: 0; }
    .prefooter__email::-webkit-input-placeholder, .prefooter__message::-webkit-input-placeholder {
      color: #e01f4c; }

/* media queries ---------------------------------------------------- */
@media screen and (max-width: 500px) {
  .prefooter__form {
    padding-right: 0; } }

/* FOOTER ---------------------------------------------------- */
.footer {
  background: #b51339;
  padding: 20px 10px;
  color: white;
  text-align: center; }
