/* CSS Document */
/* SET COLORS AND OTHER VAR ------------------------------------------------- */
/* GENERAL SETTINGS ---------------------------------------------------- */
*, *:before, *:after {
  box-sizing: border-box; }

a, a:hover {
  color: inherit;
  text-decoration: none; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

body, html {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%; }

/* buttons ---------------------------------------------------- */
.btn {
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .btn--red {
    color: white;
    background: #e01f4c; }
    .btn--red:hover {
      background: #b51339; }
  .btn--white {
    color: white;
    border: 1px solid white; }
    .btn--white:hover {
      color: white;
      background: #b51339;
      border: 1px solid #b51339; }
  .btn--blue {
    color: white;
    border: 1px solid white; }
    .btn--blue:hover {
      color: white;
      background: #077e84;
      border: 1px solid #077e84; }
  .btn--green {
    color: white;
    border: 1px solid white; }
    .btn--green:hover {
      color: white;
      background: #618e18;
      border: 1px solid #618e18; }

/* SECTION - INTRO ---------------------------------------------------- */
.intro {
  color: white;
  height: 100%;
  position: relative; }
  .intro__overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99; }

#video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-attachment: fixed; }

/* headline title ---------------------------------------------------- */
.headline__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  padding-top: 50px; }
  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center; }

.headline__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 0 auto;
  width: 90%;
  height: 90%;
  text-align: center; }
  .headline__wrapper .headline {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase; }
  .headline__wrapper .text {
    font-size: 20px; }

/* media queries ---------------------------------------------------- */
@media screen and (max-width: 500px) {
  #video-background {
    display: none; }

  .headline__wrapper {
    height: 70%; }
    .headline__wrapper .headline {
      font-size: 50px; }

  .intro {
    background: url("../img/bg01.jpg") fixed; } }
/* SERVICES ---------------------------------------------------- */
.services {
  margin: 0 auto;
  padding: 100px 0; }
  .services__item {
    text-align: center;
    margin-bottom: 30px; }
    .services__item__h1 {
      font-size: 18px;
      margin-top: 10px; }

/* ALERT-BAR ---------------------------------------------------- */
.alert-bar {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .alert-bar__wrapper {
    background: #e01f4c;
    padding: 50px 10px; }
  .alert-bar__h1 {
    font-size: 22px;
    margin: 0;
    color: white; }

/* media queries ---------------------------------------------------- */
@media screen and (max-width: 500px) {
  .alert-bar {
    flex-direction: column;
    text-align: center; }
    .alert-bar__h1 {
      margin-bottom: 20px; } }
/* GALLERY ---------------------------------------------------- */
.gallery {
  position: relative;
  text-align: center; }
  .gallery__wrapper {
    overflow-x: hidden; }
  .gallery__item {
    position: relative;
    overflow: hidden;
    text-align: center;
    background: #e01f4c; }
    .gallery__item img {
      position: relative;
      display: block;
      min-height: auto;
      max-width: 100%;
      opacity: 0.9;
      -webkit-transition: opacity 0.35s;
      transition: opacity 0.35s; }
  .gallery__text {
    padding-top: 25%;
    color: white;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .gallery__text::before {
      position: absolute;
      top: 30px;
      right: 30px;
      bottom: 30px;
      left: 30px;
      border: 1px solid white;
      content: ''; }
  .gallery__h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }

.gallery__text,
.gallery__text > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.gallery__text > a {
  opacity: 0; }

.gallery__text::before,
.gallery__h2 {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0); }

.gallery__item.gallery__item:hover .gallery__h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.gallery__item.gallery__item:hover .gallery__text::before,
.gallery__item.gallery__item:hover .gallery__h2 {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.gallery__item.gallery__item:hover .gallery__text {
  background-color: rgba(58, 52, 42, 0); }

.gallery__item.gallery__item:hover img {
  opacity: 0.4; }

/* BLOG ---------------------------------------------------- */
.blog__item {
  padding: 50px;
  color: white; }
  .blog__item--green {
    background: #74a81f; }
  .blog__item--blue {
    background: #0aa5ad; }
  .blog__item--red {
    background: #e01f4c; }
  .blog__item__h1 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px; }
  .blog__item__p {
    margin-bottom: 40px; }

/* PREFOOTER ---------------------------------------------------- */
.prefooter {
  background: #e5e5e5;
  padding: 100px 50px 50px 50px;
  color: #e01f4c; }
  .prefooter__item {
    margin-bottom: 50px; }
  .prefooter__h1 {
    font-size: 20px; }
  .prefooter__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 50px; }
  .prefooter__email, .prefooter__message {
    padding: 20px 20px 0 5px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #e01f4c;
    margin-bottom: 20px;
    width: 100%; }
    .prefooter__email:focus, .prefooter__message:focus {
      outline: 0; }

/* media queries ---------------------------------------------------- */
@media screen and (max-width: 500px) {
  .prefooter__form {
    padding-right: 0; } }
/* FOOTER ---------------------------------------------------- */
.footer {
  background: #b51339;
  padding: 10px;
  color: white;
  text-align: center; }

/*# sourceMappingURL=main-style.css.map */
